body{
    background: url(1.jpg) no-repeat center center/cover;
    width:173vh;
    height: 80vh;
}

#clockcontainer{
    position: relative;
    background-color: orchid;
    height: 21vw;
    width: 21vw;
    background: url(clo2.png) no-repeat center center/cover;
    margin: auto;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 19%;
    top: 31%;
    left: 49.9%;
    opacity: 0.9;
   

}
#minute{
    width: 1%;
    height: 26%;
    top: 24%;
    left: 49.9%;
    opacity: 0.9;
    
    
    
}
#second{
    width: 1%;
    height: 30%;
    top: 19.5%;
    left: 49.9%;
    opacity: 0.9;
    
}
    

