#clockcontainer{
    position: relative;
    background-color: orchid;
    height: 40vw;
    width: 40vw;
    background: url(clo.jpg) no-repeat center center/cover;
    margin: auto;
}
#hour, #minute, #second{
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 19%;
    top: 30%;
    left: 49.9%;
    opacity: 0.9;
   

}
#minute{
    width: 1%;
    height: 26%;
    top: 24%;
    left: 49.9%;
    opacity: 0.9;
    
    
    
}
#second{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49.9%;
    opacity: 0.9;
    
}
